# Python
venv/
.venv/
**/__pycache__/
*.pyc
.pytest_cache/

# Streamlit
.streamlit/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
crash.log

# OS
.DS_Store

# Environment Secrets
.env
.env.backup

# Project Specific
*.sqlite*
autopush.sh
.tmp.driveupload/
.tmp.drivedownload/
.tmp.*
